{% load crispy_forms_tags %}

<form method="post" hx-post="{% if form.instance.pk %}{% url 'home:department_update' form.instance.pk %}{% else %}{% url 'home:department_create' %}{% endif %}" hx-target="{% if form.instance.pk %}#department-{{ form.instance.pk }}{% else %}#department-list{% endif %}" hx-swap="{% if form.instance.pk %}outerHTML{% else %}beforeend{% endif %}">
    {% csrf_token %}
 
        <div class="form-group col-md-12 mb-0">
            {{ form.department_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.department_short_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.unit_id|as_crispy_field }}
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
      </div>
</form>
