
<div class="row">
    <div class="col-md-6">
        <h5 class="card-title"><span>Male</span>
    </div>
    <div class="col-md-6 float right">
        <p class='text-end'><strong class="text-warning">{{ male_count }}</strong></p></h5>
    </div>

    <div class="col-md-6">
        <h5 class="card-title"><span>Female</span>
    </div>
    <div class="col-md-6 float-right">
        <p class='text-end'><strong class="text-warning">{{ female_count }}</strong></p></h5>
    </div>
    <hr />
    <div class="col-md-6">
        <h5 class="card-title"><span>Total</span>
    </div>
    <div class="col-md-6 float-right">
        <p class='text-end'><strong class="text-warning">{{ total_count }}</strong></p></h5>
    </div>
</div>
